nav {
  min-height: 70px;
}

i {
  font-size: 20px;
  font-weight: bold;
}

.interaction {
  min-height: 50px;
}

.feed {
  max-width: 80%;
  margin: auto;
}

.photograph {
  display: flex;
  justify-content: center;
}